@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: "Raleway";
    src: url("./Fonts/Raleway/Raleway-Regular.woff");
    src: url("./Fonts/Raleway/static/Raleway-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Raleway Bold";
    src: url("./Fonts/Raleway/Raleway-Bold.woff");
    src: url("./Fonts/Raleway/static/Raleway-Bold.ttf") format('truetype');
}

@font-face {
    font-family: "Raleway Italic";
    src: url("./Fonts/Raleway/Raleway-Italic.woff");
    src: url("./Fonts/Raleway/static/Raleway-Italic.ttf") format('truetype');
}

header {
    color: white;
    text-align: center;
    order: 1;
    position: center;
}

#coordonnees {
    background-color: #2c1d27;
    color: white;
    height: 20px;
    width: 1120px;
    order: 2;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#adresse_postale {
    order: 1;
}

#adresse_mail {
    order: 2;
}

#numero_de_tel {
    order: 3;
}

body {
    width: 1160px;
    background-color: #782221;
    font-family: "Raleway", serif;
    display: flex;
    flex-direction: column;
    position: center;
}

h2 {
    background-color: #dbc2a4;
    line-height: 1;
    padding: 5px;
    border-left-style: solid;
    border-left-color: #782221;
    border-left-width: thick;
    color: black;
    font-family: "Lato", serif;
}

strong {
    font-family: "Raleway Bold", serif;
}

#Experiences_pro_et_formations {
    background-color: white;
    width: 75%;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 20px;
    font-family: "Raleway", serif;
    order: 2;
    border-right-style: solid;
    border-right-color: black;
    line-height: 1.5;
}

#body {
    order: 3;
    width: 1160px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

#Photo_de_profil {
    width: 100px;
    border-radius: 50%;
    border: 3px #dbc2a4;
    box-shadow: 0px 0px 10px #dbc2a4;
}

aside {
    color: white;
    width: 25%;
    text-align: justify;
    line-height: 2;
    order: 1;
}

#A_propos {
    text-indent: 50px;
    line-height: 1.5;
}

footer {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

footer img {
    width: 30px;
    border: 3px #dbc2a4;
    box-shadow: 0px 0px 10px #dbc2a4;
    margin :10px;
}

#linkedin {
    order: 1;
}

#twitter{
    order: 2;
}

#github{
    order : 3;
}
